<div id="loginPage" class="screen-centred">
    <h1>Login</h1>
    <form (ngSubmit)="logIn()" [formGroup]="loginForm">
        <div class="fg">
            <input class="fc" type="text" formControlName="username" placeholder="User Name">
        </div>
        <div class="fg">
            <input class="fc" type="password" formControlName="password" placeholder="Password">
        </div>
        <div class="fg">
            Remember me
            <input type="checkbox">
        </div>
       
        <div class="fg">
            <button class="rounded-btn fullw" type="submit">Login</button>
        </div>

    </form>
</div>